.login-menu {
    display: flex;
}

.login-menu li {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

.login-menu li a {
    text-decoration: none;
}

.login-menu h4 {
    margin: 0;
}